@using Microsoft.AspNetCore.Identity
@using MiGuachincheWeb.Models

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link text-white">Hola @UserManager.GetUserName(User)!</span>
    </li>
        if (!User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="user" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">Mi perfil</a>
            </li>
        }
        
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white">Cerrar sesión</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white id="register" asp-area="Identity" asp-page="/Account/Register">Registrate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Inicia sesión</a>
    </li>
}
</ul>
