@using Microsoft.AspNetCore.Identity

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@model MiGuachincheWeb.Models.Restaurante

@{
    ViewData["Title"] = "Edit";
}

<div class="row">

    <h1 class="text-center">Editar Restaurante</h1>
    <hr />
    <h4>Restaurante</h4>
    <div class="col-12 col-md-5 mb-5">
        <!--Imagen del restaurante-->
        <img src='~/img/restaurantes/@Model.Rest_Url' width="450" height="300" />
    </div>
    <div class="col-12 col-md-7">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RestauranteId" />
            <input type="hidden" asp-for="Rest_Url" />
            <input type="hidden" asp-for="valoracion" />
            <div class="form-group my-3">
                <label asp-for="Nombre" class="control-label mt-3 fw-bold"></label>
                <input asp-for="Nombre" class="form-control mt-3" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label mt-3 fw-bold"></label>
                <input asp-for="Descripcion" class="form-control mt-3" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image" class="control-label mt-3 fw-bold">Seleccione la imagen: </label>
                <input type="file" accept="image/*" name="Image" id="Image" class="form-control mt-3" />
                <span class="text-danger">@ViewBag?.error</span>
            </div>
            <div class="form-group my-3">
                <label asp-for="telefono" class="control-label mt-3 fw-bold"></label>
                <input asp-for="telefono" class="form-control mt-3" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label for="Id_tipo" class="control-label mt-3 fw-bold">Especialidad</label>
                <select id="Id_tipo" asp-for="Id_tipo" class="form-control mt-3" asp-items="ViewBag.Id_tipo"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary me-5" />
            </div>
            <div class="my-3">
                <a class="btn btn-info" asp-controller="Manager" asp-action="List" asp-route-id="@UserManager.GetUserId(User)">Volver</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
