@model MiGuachincheWeb.Models.CustomUserDTO

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <h1 class="text-center">Editar Usuario</h1>
        <h4>Usuario</h4>
        <hr />
        <form asp-controller="User" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label mt-3 fw-bold"></label>
                <input type="text" asp-for="Nombre" class="form-control mt-3" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label mt-3 fw-bold"></label>
                <input type="text" asp-for="Apellidos" class="form-control mt-3" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label mt-3 fw-bold"></label>
                <input type="tel" asp-for="Telefono" class="form-control mt-3" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label mt-3 fw-bold"></label>
                <input type="email" asp-for="Email" class="form-control mt-3" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-info mt-5">Volver</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
