@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="stroke">LOS MEJORES GUACHINCHES</h1>
</div>

<div class="gallery">
    <img src="img/garbanzas.jpg" alt="Garbanzas">
    <img src="img/ropa_vieja.jpg" alt="Ropa Vieja">  
    <img src="img/carne_fiesta.jpg" alt="Carne Fiesta">
    <img src="img/rancho.jpg" alt="Rancho Canario">
    <img src="img/conejo_salmorejo.jpg" alt="Carne Conejo">
    <img src="img/lapas.jpg" alt="Lapas">
    <img src="img/Queso_asado.jpg" alt="Queso Asado">
    <img src="img/escaldon.jpg" alt="Escaldón">
    <img src="img/chuleton.jpg" alt="Chuletón">
    <img src="img/tollos.jpg" alt="Tollos">
    <img src="img/chocos.jpg" alt="Chocos">
    <img src="img/pulpo.jpeg" alt="Pulpo">
    <img src="img/costillas_piñas_papas.jpg" alt="Costilas con papas y piña">
    <img src="img/viejas.jpg" alt="Viejas">
    <img src="img/calamares.jpg" alt="Calamares a la Romana">
</div>



