@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="stroke">LOS MEJORES GUACHINCHES</h1>
</div>

<div class="gallery">
    <img src="img/platos/garbanzas.jpg" title="Garbanzas">
    <img src="img/platos/ropa_vieja.jpg" title="Ropa Vieja">
    <img src="img/platos/carne_fiesta.jpg" title="Carne Fiesta">
    <img src="img/platos/rancho.jpg" title="Rancho Canario">
    <img src="img/platos/conejo_salmorejo.jpg" title="Carne Conejo">
    <img src="img/platos/lapas.jpg" title="Lapas">
    <img src="img/platos/Queso_asado.jpg" title="Queso Asado">
    <img src="img/platos/escaldon.jpg" title="Escaldón">
    <img src="img/platos/chuleton.jpg" title="Chuletón">
    <img src="img/platos/tollos.jpg" title="Tollos">
    <img src="img/platos/chocos.jpg" title="Chocos">
    <img src="img/platos/pulpo.jpeg" title="Pulpo">
    <img src="img/platos/costillas_piñas_papas.jpg" title="Costilas con papas y piña">
    <img src="img/platos/viejas.jpg" title="Viejas">
    <img src="img/platos/calamares.jpg" title="Calamares a la Romana">
</div>



