@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="stroke">LOS MEJORES GUACHINCHES</h1>
</div>

<div class="gallery">
    <img src="img/platos/garbanzas.jpg" alt="Garbanzas">
    <img src="img/platos/ropa_vieja.jpg" alt="Ropa Vieja">
    <img src="img/platos/carne_fiesta.jpg" alt="Carne Fiesta">
    <img src="img/platos/rancho.jpg" alt="Rancho Canario">
    <img src="img/platos/conejo_salmorejo.jpg" alt="Carne Conejo">
    <img src="img/platos/lapas.jpg" alt="Lapas">
    <img src="img/platos/Queso_asado.jpg" alt="Queso Asado">
    <img src="img/platos/escaldon.jpg" alt="Escaldón">
    <img src="img/platos/chuleton.jpg" alt="Chuletón">
    <img src="img/platos/tollos.jpg" alt="Tollos">
    <img src="img/platos/chocos.jpg" alt="Chocos">
    <img src="img/platos/pulpo.jpeg" alt="Pulpo">
    <img src="img/platos/costillas_piñas_papas.jpg" alt="Costilas con papas y piña">
    <img src="img/platos/viejas.jpg" alt="Viejas">
    <img src="img/platos/calamares.jpg" alt="Calamares a la Romana">
</div>



