@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="contenedor">
    <div class="d-flex justify-content-center imagen">
        <img src="/img/logo.png" alt="imagen logo MiGuachinche">
    </div>
    <div class="container-fluid my-5">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <form id="account" method="post">
        <h1 class="text-center titulo">Mi Guachinche</h1>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark">Entrar</button>
        </div>
        <div class="contenedor_enlaces my-5 d-flex flex-column gap-5 d-lg-block">
            <p>
                <a class="p-3" id="forgot-password" asp-page="./ForgotPassword">Recordar</a>
            </p>
            <p>
                <a class="p-3" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
            </p>
            <p>
                <a class="p-3" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Correo confirmación</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
