@model MiGuachincheWeb.Models.Zona

@{
    ViewData["Title"] = "Delete";
}

<h3 class="fs-bold text-primary text-center">¿Estás seguro de borrar esta zona?</h3>
<hr />

<div class ="row">

    <div class="col-12 col-sm-5 mb-5">
        <img class="img-thumbnail" src="~/img/platos/calamares.jpg" width="450" height="300" alt="Paisaje de la zona" />
    </div>
    <div class="col-12 col-sm-7">
        <h3>Zona</h3>
        <dl class="row">     
            <dt class="col-4 col-sm-5 text-capitalize">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
            <dd class="col-8 col-sm-7">
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt class="col-4 col-sm-5 text-capitalize">
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
            <dd class="col-8 col-sm-7">
                @Html.DisplayFor(model => model.descripcion)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Zona_id" />
            <input type="submit" value="Eliminar" class="btn btn-danger me-5" /> 
            <a class="btn btn-info" asp-action="Index">Volver</a>
        </form>
    </div>
</div>
