@model MiGuachincheWeb.Models.Zona

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalles de la zona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>
