*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  font-size: 14px;
}

dl {
    font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    position: relative;
    padding-bottom: 350px;
    min-height: 100vh;
    background-color: #FFFCCF;
}

.stroke {
    text-align: center;
    letter-spacing: 5px;
    font-family: impact;
    font-size: 60px;
    text-shadow: -2px -5px 1px #000;
    -webkit-text-fill-color: #6a5da8;
    -webkit-text-stroke: 2px black;
}

.gallery {
    background: linear-gradient(90deg, rgba(33,33,219,1) 20%, rgba(255,255,255,1) 70%, rgba(33,33,219,1) 100%);
    border-radius:5px;
    padding: 20px;
    margin: 0 auto;
    columns: 4 180px;
    column-gap: 15px;
}

.gallery img {
    max-width: 100%;
    margin-bottom: 15px;
    display: block;
    outline: 2px solid black;
    border-radius: 5px;
}

.gallery > img:hover{
    filter:contrast(2);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
}


p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 40%;
    left: 42%;
    opacity: 0;
    margin: 0 auto;
    font-size:60px;
}

.letter {
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

    .letter.out {
        transform: rotateX(90deg);
        transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .letter.behind {
        transform: rotateX(-90deg);
    }

    .letter.in {
        transform: rotateX(0deg);
        transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

.wisteria {
    color: #8e44ad;
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #376796;
}

.pie{
    position:absolute;
    bottom:0;
    width:100%;
}

.justificado{
    text-align:justify;
    font-size:20px;
    line-height:40px;
}

.fondo {
    background: #008B8B;
    padding: 35px;
    border-radius: 10px;
}

.contenedor {
    background-color: #16a085;
    border: 10px solid grey;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.formulario {
    width: 100%;
    color: white;
    padding: 10px;
}

.imagen > img {
    width: 50%;
    height: 10%;
    opacity: 0.8;
    outline: none;
}

.contenedor_enlaces a{
    color:white;
    text-decoration:none;
    background-color: black;
    padding:5px;
    border-radius:5px;
}

@media screen and (max-width: 767.98px) {
    .word {
        left: 40%;
        font-size: 40px;
    }

    body {
        padding-bottom: 400px;
    }
}

@media screen and (max-width: 500px) {
    .word {
        left: 35%;
        font-size: 35px;
    }
}

@media screen and (max-width: 405px) {
    body {
        padding-bottom: 450px;
    }
    
    .word {
        left: 35%;
        font-size: 30px;
        
    }
}

@media screen and (max-width: 350px) and (min-width:285px) {
    .word {
        left: 30%;
        font-size: 28px;
    }
}

/*Parte para el menu desplegable*/
.desp ul{
    height:0;
    overflow:hidden;
    transition: all 0.40s ease;
    list-style: none;
}

.desp:hover  ul{
    height:120px;
}
/*Pop up de platos*/
.popup {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    height:200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    position: relative;
}

.popup-content h5 {
    margin-top: 0;
}

.dropList select { 
    -webkit-appearance: none;
    -moz-appearance: none;
}


.dropList select {
    padding: 12px;
    padding-right:50px;
    color: dimgrey;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: 
        calc(100% - 20px) calc(1em + 2px), 
        calc(100% - 15px) calc(1em + 2px), 
        calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
}

/*Parte para el boton de historial*/
.oculto {
    display: none;
}

/*borde y sombreado tablas*/

.fondo_tablas {
    box-shadow: 13px 14px 5px 0px rgba(0,0,0,0.66);
}

.table-responsive {
    overflow-x: hidden;
}

.fondo_tablas_listas {
    box-shadow: 10px 10px 5px 0px rgba(92,90,87,1);
    border:none;
    border-collapse:initial;
}

.fondo_tablas_reserva {
    box-shadow: 10px 10px 5px 0px rgba(92,90,87,1);
    border: 2px solid black;
}

/*titulo login*/

.titulo {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    color: wheat;
    font-weight: 700;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }



@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    .titulo {
        font-size: 30px;
    }
}
/*PopUp de valoracion*/
.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
}

.rating label:before {
    content: "\2605";
    padding: 5px;
    font-size: 30px;
}

.rating input:checked ~ label {
    color: #ffc107;
}

.rating label:hover, .rating label:hover ~ label {
    color: #ffdb70;
}
  
  



